@function calculate-rem($size)
	$rem-size: $size / 16px
	@return #{$rem-size}rem

@function calculate-vw($smallest, $largest)
  $vw: ((5 / 96) * ($largest - $smallest)) / 1px
  @return #{$vw}vw

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg)
	$src: null

	$extmods: (eot: "?", svg: ("#" + str-replace($name, " ", "_")))

	$formats: (otf: "opentype", ttf: "truetype")

	@each $ext in $exts
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext)
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext)
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma)

	@font-face
		font-family: quote($name)
		font-style: $style
		font-weight: $weight
		src: $src

@mixin font-size($size)
	font-size: $size //Fallback in px
	font-size: calculate-rem($size)

@mixin fit-text($smallest, $largest)
  font-size: calc(#{$smallest} + #{calculate-vw($smallest, $largest)})

@mixin aspect-ratio($width, $height)
  position: relative
  &:before
    display: block
    content: ""
    width: 100%
    padding-top: ($height / $width) * 100%
  img:first-child
    width: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

$s-breakpoint: calculate-rem(320px)
$m-breakpoint: calculate-rem(760px)
$l-breakpoint: calculate-rem(850px)
$wrapper-width: calculate-rem(960px)
$icon-color: #0b0b0b
$red: hsl(0, 95%, 67%)
$blue: hsl(228, 95%, 67%)

@include font-face(Didot, 'fonts/Didot/Didot')
@include font-face(Didot, 'fonts/FontAwesome/FontAwesome')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

*, ::after, ::before
  -webkit-box-sizing: inherit
  box-sizing: inherit

body
  font-family: Didot
  margin: 0 0 calc(3vw + 100px) 0
  @media (max-width: $s-breakpoint)
    margin: 0 0 calculate-rem(120px) 0

h1, h2, h3
  font-weight: lighter

h1, h2
  margin: calculate-rem(24px) 0
  @include font-size(36px)
  @media (max-width: $wrapper-width)
    text-align: center
  @media (max-width: $s-breakpoint)
    @include font-size(30px)

h3
  margin: 0
  @include font-size(30px)
  @media (max-width: $s-breakpoint)
    @include font-size(26px)

p
  margin: 0
  line-height: 1.8125rem
  @include font-size(16px)
  @media (max-width: $s-breakpoint)
    @include font-size(14px)

a
  text-decoration: none

img
  max-width: 100%

.shadow
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)

.flex
  display: flex

.cf:before, .cf:after
    content: " "
    display: table

.cf:after
    clear: both

.section
  padding: calculate-rem(40px) 0
  @media (max-width: $s-breakpoint)
    padding: 0

.wrapper
  position: relative
  margin: 0 auto
  max-width: $wrapper-width
  @media (max-width: $wrapper-width)
    width: 90%
  @media (max-width: $s-breakpoint)
    width: 100%

.center
  text-align: center

.title
  margin: calculate-rem(50px) calculate-rem(5px)
  @include fit-text(36px, 72px)

.sub-title
  margin: 0 calculate-rem(5px)
  @include fit-text(24px, 48px)

.side-nav
  position: fixed
  left: 0
  animation: xAxis 20s ease-in infinite

.side-nav__nav
  position: fixed
  z-index: 1
  top: 130px
  animation: yAxis 20s ease-out infinite
  @media (max-width: 1270px)
    display: none

@keyframes xAxis
  50%
    transform: translateX(20px)

@keyframes yAxis
  50%
    transform: translateY(-20px)

.side-nav__link
  padding: calculate-rem(12px) 0
  display: block
  color: #000
  transition: padding .4s , font-size .4s
  &:hover
    padding: calculate-rem(26px) 0
    @include font-size(18px)

.intro-box
  background: linear-gradient(to bottom, $red 0%,$red 50%,$blue 50%,$blue 100%)
  color: #fff
  text-align: center
  padding: 0 15%
  display: flex
  align-items: center
  box-sizing: border-box
  @media (max-width: $m-breakpoint)
    padding: calculate-rem(45px) 8%

.intro-box__text
  @include font-size(16px)
  @media (max-width: $l-breakpoint)
    @include font-size(14px)
  @media (max-width: $m-breakpoint)
    @include font-size(16px)
  @media (max-width: $s-breakpoint)
    @include font-size(14px)

.service
  position: relative
  padding: 0 calculate-rem(70px) calculate-rem(50px) calculate-rem(30px)
  overflow: hidden
  color: #000
  border-top: 1px solid #000

.service__title
  margin: calculate-rem(30px) 0 calculate-rem(20px) 0

.service--bespoke
  &:before
    content: '\f1fc'
    font-family: FontAwesome
    @include font-size(144px)
    color: $icon-color
    right: -34px
    top: -47px
    position: absolute
    @media (max-width: $l-breakpoint)
      @include font-size(120px)

.service--backend
  &:before
    content: '\f1c0'
    font-family: FontAwesome
    @include font-size(120px)
    color: $icon-color
    right: -3px
    top: -17px
    position: absolute
    @media (max-width: $l-breakpoint)
      @include font-size(100px)

.service--cms
  &:before
    content: url('images/wordpress_logo.png')
    right: -28px
    top: -34px
    position: absolute
    @media (max-width: $l-breakpoint)
      transform: scale(0.8)

.project
  padding: 0 0 calculate-rem(40px) 0
  color: #fff

.project__title
  text-align: center
  color: #fff
  padding: calculate-rem(30px) 0
  @include fit-text(20px, 30px)

.project__text
  margin: calculate-rem(60px) 0 calculate-rem(20px) 0

.project__wrapper
  max-width: calculate-rem(700px)
  width: 80%
  margin: 0 auto

.project__link
  float: right
  color: #fff
  @include font-size(48px)
  transition: transform .4s
  &:hover
    transform: translateX(5px)

.section--projects .project
  &:nth-of-type(1)
    background-color: $red
  &:nth-of-type(2)
    background-color: $blue

.row
  display: flex
  flex-flow: row wrap

.row--inline
  @media (max-width: $m-breakpoint)
    display: block
    white-space: nowrap
    overflow-x: scroll
  .col-2-1
    display: inline-block

.align-top
  align-items: flex-start

.col-2-1
  max-width: 50%
  @media (max-width: $m-breakpoint)
    max-width: 100%

.col-3-1
  max-width: 33.33%
  @media (max-width: $wrapper-width)
    max-width: 100%

@import 'aos'
