include mixins.pug

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon" href="favicon.png")
    link(rel="stylesheet" href="styles.css")
    title Jacob Cons // Web Designer
  body
    .wrapper
      .side-nav
        nav.side-nav__nav
          a.side-nav__link(href="#intro") Intro
          a.side-nav__link(href="#skills") Skills
          a.side-nav__link(href="#projects") Projects
          a.side-nav__link(href="#contact") Contact

      section.section
        h1#intro Jacob Cons // Web Designer
        .row
          .col-2-1
            img(src="images/jacob_cons.jpg")
          .flex.col-2-1
            .intro-box
              p.intro-box__text
                | Hiya, I'm an
                span.age 18
                | year old web designer based in Brighton who wants to help build your dream website. I'm currently on a gap year and saving some money to go travelling so my rates are extra cheap. Prices start from just £200.

      section.section
        h2#skills Skills
        .row.align-top
          .col-3-1
            .service.service--design
              h3.service__title Design
              p You'll have complete control over your bespoke design from the line-height to the layout. No templates, no restrictions.
          .col-3-1
            .service.service--backend
              h3.service__title Backend
              p Whether you need contact forms, booking systems or an e-commerce site, I've got you covered.
          .col-3-1
            .service.service--cms
              h3.service__title CMS
              p A content management system provides an easy to use client-friendly interface, so you can edit all your content after the site is built.

      section.section.section--projects
        h2#projects Projects
        +project("airstreamstudio.co.uk", ["airstream/index.png", "airstream/pricing.png", "airstream/events.png", "airstream/reviews.png"], "Airstream Studio is a vintage wedding photography booth and hence their site was to be incredibly image centric. We went with a full-width image banner that cross faded through photos and custom image sliders for each aspect of the booth e.g. interior, exterior, props. Some of the key features of the site included pulling in the latest reviews and overall star rating of the bussiness from their facebook page; a contact booking form used to make enquires and a live feed of their latest instagram and facebook posts.", "http://www.airstreamstudio.co.uk")
        +project("brightoncarpenter.co.uk", ["carpenter/kitchens.png", "carpenter/index.png", "carpenter/contact.png", "carpenter/storage.png"], "brightoncarpenter.co.uk was outdated and cluttered with too many unnecessary graphics and sections. I showed the client my previous work and he loved my designs for airstream studio. We agreed on keeping the esscense of both his old site and Airstream Studio to bring it to the modern web.", "http://www.brightoncarpenter.co.uk")

      section.section.center
        h1#contact.title(data-aos="fade-up") Send me your idea @
        a(href="mailto:jacobcons@gmail.com")
          h2.sub-title(data-aos="fade-up" data-aos-delay="50") jacobcons@gmail.com

    script(src="scripts.js")
