include mixins.pug

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="Hiya, I'm a web designer based in Brighton with a passion for building pretty looking things.")
    link(rel="shortcut icon" href="favicon.png")
    link(rel="stylesheet" href="styles.css")
    title Jacob Cons // Web Designer
  body
    .wrapper
      .side-nav
        nav.side-nav__nav
          a.side-nav__link(href="#intro") Intro
          a.side-nav__link(href="#skills") Skills
          a.side-nav__link(href="#projects") Projects
          a.side-nav__link(href="#contact") Contact

      section.section
        h1#intro Jacob Cons // Web Designer
        .row
          .col-2-1
            img(src="images/jacob_cons.jpg")
          .flex.col-2-1
            .intro-box
              p.intro-box__text Hiya, I'm a web designer based in Brighton with a passion for building pretty looking things.


      section.section
        h2#skills Skills
        .row.align-top
          .col-3-1
            .service.service--design
              h3.service__title Design
              p You'll have complete control over your bespoke design from the line-height to the layout. No templates, no restrictions.
          .col-3-1
            .service.service--backend
              h3.service__title Backend
              p Whether you need contact forms, booking systems or an e-commerce site, I've got you covered.
          .col-3-1
            .service.service--cms
              h3.service__title CMS
              p A content management system provides an easy to use client-friendly interface, so you can edit all your content after the site is built.

      section.section.section--projects
        h2#projects Projects
        +project("oakka.siteleaf.net", ["oakka/index.png", "oakka/portfolio.png", "oakka/services.png", "oakka/contact.png"], "Oakka is a minimalist interiors company; and hence, the site would follow suite. The CMS, siteleaf, allowed for a tech-agnostic development enviornment and an incredibly seamless dev to production pipeline allowing for efficient maintenance and updates.", "http://oakka.siteleaf.net")
        +project("airstreamstudio.co.uk", ["airstream/index.jpg", "airstream/pricing.jpg", "airstream/events.jpg", "airstream/reviews.jpg"], "Airstream Studio is a vintage wedding photography booth and hence their site was to be incredibly image-centric. We went with a full-width image banner that cross faded through photos and custom image sliders for each aspect of the booth e.g. interior, exterior, props. Some of the key features of the site included pulling in the latest reviews and overall star rating of the bussiness from their facebook page, a contact booking form used to make enquires and a live feed of their latest instagram and facebook posts.", "http://www.airstreamstudio.co.uk")
        +project("brightoncarpenter.co.uk", ["carpenter/kitchens.jpg", "carpenter/index.jpg", "carpenter/blog.jpg", "carpenter/storage.jpg"], "brightoncarpenter.co.uk was outdated and cluttered with too many unnecessary graphics and sections. I showed the client my previous work and he loved my designs for airstream studio. We agreed on keeping the esscense of both his old site and Airstream Studio in order to modernise it.", "http://www.brightoncarpenter.co.uk")
        +project("brightoncleaningangels.co.uk", ["cleaning-angels/index.png"], "The site for Brighton Cleaning Angels was a quick two-day job to help launch this small but stylish cleaning agency.")

      section.section.center
        h1#contact.title(data-aos="fade-up") Send me your idea @
        a(href="mailto:jacobcons@gmail.com")
          h2.sub-title(data-aos="fade-up" data-aos-delay="50") jacobcons@gmail.com

    script(src="scripts.js")
